<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BrunoDuarte\MultipleWishlist\Api\Data\MultipleWishlistInterface" type="BrunoDuarte\MultipleWishlist\Model\MultipleWishlist" />
    <preference for="BrunoDuarte\MultipleWishlist\Api\MultipleWishlistRepositoryInterface" type="BrunoDuarte\MultipleWishlist\Model\MultipleWishlistRepository" />

    <type name="BrunoDuarte\MultipleWishlist\Api\MultipleWishlistServiceInterface">
        <plugin name="BrunoDuarte_MultipleWishlist::prepareMultipleWishlist" type="BrunoDuarte\MultipleWishlist\Plugin\PrepareMultipleWishlist" disabled="false" sortOrder="10" />
    </type>
</config>
