<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="add_cart_items_to_multiple_wishlist">
        <observer name="BrunoDuarte_MultipleWishlist::addCartItemsCartToMultipleWishlist" instance="BrunoDuarte\MultipleWishlist\Observer\Cart\AddItemsToList" />
    </event>
</config>
