<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="multiple_wishlist" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Multiple Wishlist</label>
            <tab>catalog</tab>
            <resource>Magento_Backend::admin</resource>
            <class>separator-top</class>

            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Config</label>
                <comment>Module for Magento 2 that allows multiple wish lists.</comment>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Title</label>
                    <depends>
                        <field id="multiple_wishlist/general/enabled">1</field>
                    </depends>
                </field>

                <field id="available_customer_groups" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Customer Groups</label>
                    <source_model>BrunoDuarte\MultipleWishlist\Helper\Source\Config\CustomerGroups</source_model>
                    <comment>Apply wish list to selected customer groups.</comment>
                    <depends>
                        <field id="multiple_wishlist/general/enabled">1</field>
                    </depends>
                </field>

                <field id="wishlist_delete" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Delete Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enabling the field will make it possible to delete wishlists from the database instead of merely deactivating them.</comment>
                </field>
            </group>

            <group id="customer" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer Settings</label>
                <comment>Settings for managing customer wishlists.</comment>

                <field id="limit_max_wishlist" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Maximum Wishlists Quantity</label>
                    <validate>validate-digits</validate>
                    <comment>Set the maximum number of wishlists a customer can create. Leave empty for unlimited.</comment>
                </field>

                <field id="maximum_items_wishlist" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Maximum Items per Wishlist</label>
                    <validate>validate-digits</validate>
                    <comment>Set the maximum number of items in the wishlists a customer can include. Leave empty for unlimited.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
